<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/admin/config">Configuration</a></li>
                <li><a ng-href="#/admin/tableauBord">Tableau de Bord</a></li>
                <li><a ng-href="#/admin/gestionStaff">Gérer Staff</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well well-lg col-md-8 col-sm-6 col-xs-6">
    <ul>
        <li><strong>Nombres de produits : <span class="text-danger">{{nbrProducts}}</span></strong></li>
        <li><strong>Nombres de dépôts : <span class="text-danger">{{nbrDepots}}</span></strong></li>
        <li><strong>Nombres de ventes : <span class="text-danger">{{nbrVente}}</span></strong></li>
        <li><strong>Total des ventes <span class="small">(sans commission)</span> : <span class="text-danger">{{totalSC}} €</span></strong></li>
        <li><strong>Total des ventes <span class="small">(avec commission)</span> : <span class="text-danger">{{totalAC}} €</span></strong></li>
    </ul>
    <hr>
    <div class="col-md-12">
        <div class="col-md-6">
            <i><strong class="text-info">Nombre d'objet en fonction de son état : </strong></i>
            <canvas id="pie" class="chart chart-pie" chart-data="datapie" 
            chart-labels="labelspie"></canvas>
        </div>
        <div class="col-md-6">
            <i><strong class="text-info">Test : </strong></i>
            <canvas id="line" class="col-md-6 chart chart-line" chart-data="dataline" chart-labels="labelsline" 
            chart-legend="true" chart-series="seriesline" chart-click="onClick"></canvas>
        </div>
    </div>
</div>