<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/admin/config">Configuration</a></li>
                <li><a ng-href="#/admin/tableauBord">Tableau de Bord</a></li>
                <li><a ng-href="#/admin/gestionStaff">Gérer Staff</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well well-lg col-md-8 col-sm-6 col-xs-6">
    <div class="col-md-6">
        <ul class="col-md-12">
            <li><strong>Nombre total des dépôts : <span class="text-danger">{{nbrDepots}}</span></strong></li>
            <li><strong>Nombre total des produits : <span class="text-danger">{{nbrProducts}}</span></strong></li>
        </ul>
        <div class="col-md-12">
            <i><strong class="text-info">Nombre de produits en fonction de son état : </strong></i>
            <canvas id="pie" class="chart chart-pie" chart-data="datapie" chart-labels="labelspie"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="col-md-12">
            <li><strong>Nombre total des ventes finie : <span class="text-danger">{{nbrVenteFini}}</span></strong></li>
            <li><strong>Nombre total des ventes en cours : <span class="text-danger">{{nbrVenteEnCours}}</span></strong></li>
        </ul>
        <div class="col-md-12">
            <i><strong class="text-info">Nombre de ventes finie : </strong></i>
            <canvas id="line" class="chart chart-line" chart-data="dataline" 
            chart-labels="labelsline" chart-legend="false"chart-click="onClick"></canvas>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="col-md-12">
            <li><strong>Prix total des ventes <span class="small">(sans commission)</span> : <span class="text-danger">{{totalSC}} €</span></strong></li>
            <li><strong>Prix total des ventes <span class="small">(avec commission)</span> : <span class="text-danger">{{totalAC}} €</span></strong></li>
            <li><strong>Valeur commission <span class="small">(en %)</span> : <span class="text-danger">{{commission}} %</span></strong></li>
        </ul>
    </div> 
</div>