<div class="col-md-2 col-sm-3 col-xs-3">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/admin/config">Configuration</a></li>
                <li><a ng-href="#/admin/tableauBord">Tableau de Bord</a></li>
                <li><a ng-href="#/admin/gestionStaff">Gérer Staff</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well well-lg col-md-8 col-sm-6 col-xs-6">
    <form class="col-md-10 col-md-offset-1" name="form" novalidate>
        <div class="form-group col-md-12" ng-class="{ 'has-error': form.nom.$touched && form.nom.$invalid }">
            <label class="col-md-5">Nom <span class="text-danger" ng-if="!form.nom.$valid">*</span> : </label>
            <input class="col-md-7" type="text" placeholder="Nom" ng-model="staff.nom" name="nom" required/>
            <div class="help-block" ng-messages="form.nom.$error" ng-if="form.nom.$touched">
                <p ng-message="required">Vous devez entrer le nom.</p>
            </div>
        </div>
        <div class="form-group col-md-12" ng-class="{ 'has-error': form.ident.$touched && form.ident.$invalid }">
            <label class="col-md-5">Identifiant <span class="text-danger" ng-if="!form.ident.$valid">*</span> : </label>
            <input class="col-md-7" type="text" placeholder="Identifiant" ng-model="staff.identifiant" name="ident" required/>
            <div class="help-block" ng-messages="form.ident.$error" ng-if="form.ident.$touched">
                <p ng-message="required">Vous devez entrer l'identifiant.</p>
            </div>
        </div> 
        <div class="form-group col-md-12" ng-class="{ 'has-error': form.mdp.$touched && form.mdp.$invalid }">
            <label class="col-md-5">Mot de passe <span class="text-danger" ng-if="!form.mdp.$valid">*</span> : </label>
            <input class="col-md-7" type="password" placeholder="Mot de passe" ng-model="staff.password" name="mdp" required/>
            <div class="help-block" ng-messages="form.mdp.$error" ng-if="form.mdp.$touched">
                <p ng-message="required">Vous devez entrer un mot de passe.</p>
            </div>
        </div>
        <div class="form-group col-md-12" ng-class="{ 'has-error': form.rmdp.$touched && form.rmdp.$invalid }">
            <label class="col-md-5">Re-Mot de passe <span class="text-danger" ng-if="!form.rmdp.$valid">*</span> : </label>
            <input class="col-md-7" type="password" placeholder="Re-saisir le mot de passe" ng-model="staff.repassword" name="rmdp" required/>
            <div class="help-block" ng-messages="form.rmdp.$error" ng-if="form.rmdp.$touched">
                <p ng-message="required">Vous devez entrer à nouveau le mot de passe.</p>
                <p class="error" ng-if="error">Veuillez saisir le même mot de passe.</p>
            </div>
        </div>
        <div class="form-group col-md-12" ng-class="{ 'has-error': form.autho.$touched && form.autho.$invalid }">
            <label class="col-md-5">Niveau d'authorisation <span class="text-danger" ng-if="!form.autho.$valid">*</span> : </label>
            <select class="col-md-7 text-center" ng-model="staff.authorisation" name="autho" required>
                <option value="" selected>----- Niveau d'authorisation -----</option>
                <option value="Staff">Staff</option>
                <option value="Admin">Admin</option>
            </select>
            <div class="help-block" ng-messages="form.autho.$error" ng-if="form.autho.$touched">
                <p ng-message="required">Vous devez choisir le niveau d'authorisation.</p>
            </div> 
        </div>
        <input type="submit" class="col-md-2 col-md-offset-5 btn btn-sm btn-info" value="Valider" ng-click="form.$valid && addStaff()"/>
        <div class="help-block" ng-if="!form.$valid">
            <p class="text-danger text-right">* : <i>Champs obligatoire</i></p>
        </div>
    </form>
</div>
<div class="well well-lg col-md-offset-2 col-sm-offset-3 col-xs-offset-3 col-md-8 col-sm-6 col-xs-6" ng-if="staffs.length>0">
    <div class="col-md-12">
        <strong class="col-md-4 text-muted"><i>Nom</i></strong>
        <strong class="col-md-4 text-muted"><i>Identifiant</i></strong>
        <strong class="col-md-4 text-muted"><i>Niveau d'authorisation</i></strong>
    </div>
    <div class="col-md-12" ng-repeat="obj in staffs">
        <strong ng-hide="obj.isediting" class="col-md-4 bg-primary">{{obj.nom}}</strong>
        <strong ng-hide="obj.isediting" class="col-md-4 bg-primary">{{obj.login}}</strong>
        <strong ng-hide="obj.isediting" class="col-md-3 bg-primary">{{obj.permission}}</strong>
        <div class="text-right" ng-hide="obj.isediting">
            <img ng-click="editStaff(obj)" src="img/edit.png" style="width: 16px" alt="edit" />
            <img ng-click="deleteStaff(obj)" src="img/delete.png" style="width: 16px" alt="delete" />
        </div>
        <div ng-show="obj.isediting">
            <input class="col-md-4" type="text" placeholder="Nom" ng-model="obj.nom" name="nom" required/>
            <input class="col-md-4" type="text" placeholder="Login" ng-model="obj.login" name="login" required/>
            <select class="col-md-3 text-center" ng-model="obj.permission" name="permission" required>
                <option value="" selected>----- Niveau d'authorisation -----</option>
                <option value="Staff">Staff</option>
                <option value="Admin">Admin</option>
            </select>
            <input type="submit" class="col-md-1 btn btn-sm btn-success" value="Valider" ng-click="updateStaff(obj)"/>
        </div>
    </div>
</div>