<div class="well well-sm col-md-offset-1 col-md-10">
	<div class="col-md-12 alert alert-info" ng-if="totalRembourser != 0">
		<ul class="col-md-10 list-unstyled">
			<li class="col-md-4"><strong>Total à rembourser : {{totalRembourser}} €</strong></li>
			<li class="col-md-4"><strong>Nombre de produits : {{nbrProduits}}</strong></li>
			<li class="col-md-4"><strong>Nombre de dépots concernés : {{nbrDepots}}</strong></li>
		</ul>
		<button class="btn btn-sm btn-success col-md-2" ng-click="solderAll()"><strong>Tous Solder</strong></button>
	</div>
	<div class="col-md-12 alert alert-info text-center" ng-if="message">
		<strong>{{message}}</strong>
	</div>
	<ul class="col-md-12 well well-sm list-unstyled" ng-repeat="item in depotId | orderBy : item" ng-if="produit.length > 0">
		<strong class="col-md-11">Dépôts {{item}}</strong>
		<button class="btn btn-xs btn-success col-md-1" ng-click="solder(item)"><strong>Solder</strong></button>
		<li class="col-md-12">
			<span class="col-md-1"><i>Référence</i></span>
			<span class="col-md-5"><i>Description</i></span>
			<span class="col-md-3"><i>Etat</i></span>
			<span class="col-md-3"><i>Prix</i></span>
		</li>
		<li class="col-md-12" ng-repeat="i in produit" ng-if="i.id_depot===item">
			<span class="col-md-1">{{i.reference}}</span>
			<span class="col-md-5">{{i.description}}</span>
			<span class="col-md-3">{{i.etat}}</span>
			<span class="col-md-3">{{i.prix}} €</span>
		</li>
	</ul>
</div>